/* General Demo Style */
@import url(../css-2.css);

@font-face {
	font-family: 'Graphik-Medium';
	src: url('../fonts/graphik/Graphik-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/graphik/Graphik-Medium.eot') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/graphik/Graphik-Medium.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/graphik/Graphik-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/graphik/Graphik-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.carousel-caption{
top:21%!important;}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.module {
    max-width: 1920px;
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;}

	#header3{
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    margin: 0px 0 0 0;
	}
	.container-12 {
    margin: 0 auto;
    width: 960px;}

	.test2-text2, .test2-text3 {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
    height: 40px;
    padding-left: 48px;
    box-sizing: border-box;
    display: inline-block;
    color: #000;
    margin-left: 45px;}

	.test2-text4 {
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    color: #000;
    margin: 12px 0;
    margin-left: 45px;
}

.fancybox-wrap .container {
	width: 100%!important;
}

#cart-popup form{
	max-width: 100%!important;
}

#cart-popup form p{
	text-align: center!important;
}

#cart-popup form input, #cart-popup form button{
	max-width: 240px;
}

.to_pay {
	font-size: 1.75rem;
    color: #333;
}

.add-to-cart {
	position: fixed;
    bottom: 1.25rem;
    left: 1.25rem;
    z-index: 99;
	height: 39px;
    width: 39px;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
	display: -ms-flexbox;
    display: flex;
    align-items: center;
    background: #3f51b5;
    border-radius: 99px;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease-out;
    margin-left: 25px;
    -ms-flex-order: 5;
    order: 5;
}

.add-to-cart .count{
	height: 20px;
    width: 21px;
    background: url(icon_box.svg) center no-repeat;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 12px;
    padding-top: 4px;
}

#cart-popup .products{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	margin-top: 35px;
	align-items: center;
}

.products .product-image img {
	width: 86px;
	height: auto;
}

.product-info {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 20px;
}

.product-info .product-title{
	font-size: 1rem;
    display: block;
    font-weight: 700;
	color: #3f51b5;
	margin: 0;
}

.product-info .product-color {
	margin: .3125rem 0 0;
    font-size: .8125rem;
    color: #666;
}

.product-info .product-prices {
	display: flex;
	align-items: center;
}

.product-info .product-prices .old {
	font-size: .875rem;
    text-decoration: line-through;
    margin-right: .3125rem;
}

.product-info .product-prices .new {
    font-size: 1.125rem;
    font-weight: 700;
}

.modal-order-product__product-base-quantity {
    max-width: 6.875rem;
	text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.product-giftbox {
    width: 36px!important;
    height: auto!important;
}

.plus-minus {
    position: relative;
    text-align: center;
    border: .0625rem solid #eee;
    border-radius: 1.875rem;
}

.plus-minus .plus-minus__button {
    position: absolute;
    top: 0;
    height: 1.75rem;
    width: 1.75rem;
    text-align: center;
    border: .0625rem solid #eee;
    -webkit-box-shadow: 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 5%);
    box-shadow: 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 5%);
    border-radius: 50%;
    color: #999;
    padding: .3125rem;
    background-color: #fff;
    cursor: pointer;
    font-size: .9375rem;
    font-weight: 700;
    line-height: 1;
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    transition: -webkit-box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}

.plus-minus .plus-minus__button--plus {
    right: 0;
}

.plus-minus .plus-minus__button--minus {
    left: 0;
}

.plus-minus .plus-minus__input {
	border: none;
    outline: none;
    font-weight: 700;
    color: #666;
    max-width: 1.5rem;
    text-align: center;
    border: .0625rem solid transparent;
    height: 1.75rem;
    margin: 0 1.75rem;
}

.modal-order-product__product-base-remove {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: .1875rem;
    right: 0;
    cursor: pointer;
    margin: 5px;
    background: -webkit-linear-gradient(45deg,transparent 0,transparent 6px,#b8b8b8 6px,#b8b8b8 8px,transparent 8px),-webkit-linear-gradient(135deg,transparent 0,transparent 6px,#b8b8b8 6px,#b8b8b8 8px,transparent 8px);
    background: -o-linear-gradient(45deg,transparent 0,transparent 6px,#b8b8b8 6px,#b8b8b8 8px,transparent 8px),-o-linear-gradient(135deg,transparent 0,transparent 6px,#b8b8b8 6px,#b8b8b8 8px,transparent 8px);
    background: linear-gradient(45deg,transparent 0,transparent 6px,#b8b8b8 6px,#b8b8b8 8px,transparent 8px),linear-gradient(-45deg,transparent 0,transparent 6px,#b8b8b8 6px,#b8b8b8 8px,transparent 8px);
}

.test2-text2 {
    background: url(zamok.png) left center no-repeat;
}
.test2-text3 {
    background: url(guard.png) left center no-repeat;
}

@media only screen and (max-width: 800px)
{
	.module {
    width: 100%;
    max-width: 100%;
    min-width: 100%;}
	.container-12 {
    width: 100%;
    margin: 0 auto;
}
.newsec2 {
    width: 100% !important;
}
.test2-text2, .test2-text3 {
    font-size: 18px !important;
line-height: 24px !important;}
.newsec2-1 {
    float: none !important;
    display: block !important;
width: 100% !important;}
#header3 {
    font-size: 28px;}
}
.main {
	max-width: 69em;
	padding-top: 2em;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	min-width: 320px;
	position: relative;
}

.column:nth-child(2) {
	min-height: 400px;
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column:last-child:before {
	content: '';
	position: absolute;
	height: 7px;
	background: #ceccc6;
	top: 100px;
	left: 10px;
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}

.container > header {
	padding: 2.875em 1.875em 2.875em;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	color: #89867e;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: #ceccc6;
	padding: 0 0 0.6em 0.1em;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.95);
	text-transform: uppercase;
	position: relative;
	font-size: 0.68em;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.99);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #b1aea6;
	color: #b1aea6;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border-color: #89867e;
	color: #89867e;
}

@media screen and (max-width: 46.0625em) {

	.main {
		padding: 0;
	}

	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 3em 2em;
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
		background-position: 90px 3em;
	}
}

.danger-input {
    border: 1px solid red!important;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;

}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    display: flex;
    flex-direction: column;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    display: flex;
    flex-direction: column;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.site-title {
    text-decoration: none;
	float: left;
	font-size: 21px;
    line-height: 20px;
    font-stretch: ultra-expanded;
    text-shadow: 2px 2px 4px #191970;
	font-family: 'Graphik-Medium';
    font-weight: normal;
    margin-top: 0;
    text-transform: none;
}

.header-baner {
	height: 100%!important;
	min-height: 100%!important;
}

.border-danger {
	border: 1px solid red!important;
}

.promo {
	margin-bottom: 20px;
}

.promo p{
	text-align: center!important;
}

.categories{
	background-color: #fff;
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2px;
}

.category_href {
	display: block;
    padding-bottom: 15px;
    padding-top: 40px;
	-webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background-color: #f7f7f7;
    height: 200px;
    position: relative;
}

.category img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 100px;
}

.cat_name {
	padding-top: 20px;
	-webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 18px;
    text-align: center;
}

.category_href:before {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.category_href:hover{z-index:2}
.category_href:hover:before{-webkit-box-shadow:0 2px 20px 0 rgba(0,0,0,0.2);box-shadow:0 2px 20px 0 rgba(0,0,0,0.2)}

.category_href:last-child:nth-child(3n - 1) {
	grid-column-end: -2;
  }
  
  .category_href:nth-last-child(2):nth-child(3n + 1) {
	grid-column-end: 3;
  }
  
  .category_href:last-child:nth-child(3n - 2) {
	grid-column-end: 4;
  }


  .owl-item{
	  display: none;
  }

.owl-carousel:not(.owl-loaded){ 
	opacity: 0; 
	visibility:hidden;
	height:0;
}

.owl-carousel2:not(.owl-loaded){ 
	opacity: 0; 
	visibility:hidden;
	height:0;
}

@media screen and (max-width: 1024px) {
	.categories { grid-template-columns: repeat(2, 1fr); }

	.category_href:last-child:nth-child(3n - 1) {
		grid-column-end: auto;
	  }
	  
	  .category_href:nth-last-child(2):nth-child(3n + 1) {
		grid-column-end: auto;
	  }
	  
	  .category_href:last-child:nth-child(3n - 2) {
		grid-column-end: auto;
	  }
  }

@media screen and (max-width: 760px) {
	.header-baner {
		height: 400px!important;
		min-height: 100%!important;
		margin-top: 60px;
	}

	.categories {
		display: flex;
		flex-direction: column;
	}

	.header-baner{
		background: url("../mobile-baner.jpeg") top center no-repeat; background-size: cover;
	  }
}