/* General Demo Style */
@import url(../css-2.css);

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.carousel-caption{
top:21%!important;}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.module {
    max-width: 1920px;
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;}

	#header3{
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    margin: 0px 0 0 0;
	}
	.container-12 {
    margin: 0 auto;
    width: 960px;}

	.test2-text2, .test2-text3 {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
    height: 40px;
    padding-left: 48px;
    box-sizing: border-box;
    display: inline-block;
    color: #000;
    margin-left: 45px;}

	.test2-text4 {
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    color: #000;
    margin: 12px 0;
    margin-left: 45px;
}

.test2-text2 {
    background: url(zamok.png) left center no-repeat;
}
.test2-text3 {
    background: url(guard.png) left center no-repeat;
}

@media only screen and (max-width: 800px)
{
	.module {
    width: 100%;
    max-width: 100%;
    min-width: 100%;}
	.container-12 {
    width: 100%;
    margin: 0 auto;
}
.newsec2 {
    width: 100% !important;
}
.test2-text2, .test2-text3 {
    font-size: 18px !important;
line-height: 24px !important;}
.newsec2-1 {
    float: none !important;
    display: block !important;
width: 100% !important;}
#header3 {
    font-size: 28px;}
}
.main {
	max-width: 69em;
	padding-top: 2em;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	min-width: 320px;
	position: relative;
}

.column:nth-child(2) {
	min-height: 400px;
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column:last-child:before {
	content: '';
	position: absolute;
	height: 7px;
	background: #ceccc6;
	top: 100px;
	left: 10px;
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}

.container > header {
	padding: 2.875em 1.875em 2.875em;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	color: #89867e;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: #ceccc6;
	padding: 0 0 0.6em 0.1em;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.95);
	text-transform: uppercase;
	position: relative;
	font-size: 0.68em;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.99);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #b1aea6;
	color: #b1aea6;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border-color: #89867e;
	color: #89867e;
}

@media screen and (max-width: 46.0625em) {

	.main {
		padding: 0;
	}

	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 3em 2em;
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
		background-position: 90px 3em;
	}
}

.danger-input {
    border: 1px solid red!important;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;

}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    display: flex;
    flex-direction: column;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    display: flex;
    flex-direction: column;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.site-title {
    text-decoration: none;
	float: left;
    font-size: 40px;
    font-weight: 900;
    font-stretch: ultra-expanded;
    text-shadow: 2px 2px 4px #191970;
}

.header-baner {
	height: 100%!important;
	min-height: 100%!important;
}

.categories{
	background-color: #fff;
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2px;
}

.category_href {
	display: block;
    padding-bottom: 15px;
    padding-top: 40px;
	-webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background-color: #f7f7f7;
    height: 309px;
    position: relative;
}

.category img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 211px;
}

.cat_name {
	padding-top: 20px;
	-webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 18px;
    text-align: center;
}

.category_href:before {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.category_href:hover{z-index:2}
.category_href:hover:before{-webkit-box-shadow:0 2px 20px 0 rgba(0,0,0,0.2);box-shadow:0 2px 20px 0 rgba(0,0,0,0.2)}

.category_href:last-child:nth-child(3n - 1) {
	grid-column-end: -2;
  }
  
  .category_href:nth-last-child(2):nth-child(3n + 1) {
	grid-column-end: 3;
  }
  
  .category_href:last-child:nth-child(3n - 2) {
	grid-column-end: 4;
  }

@media screen and (max-width: 1024px) {
	.categories { grid-template-columns: repeat(2, 1fr); }

	.category_href:last-child:nth-child(3n - 1) {
		grid-column-end: auto;
	  }
	  
	  .category_href:nth-last-child(2):nth-child(3n + 1) {
		grid-column-end: auto;
	  }
	  
	  .category_href:last-child:nth-child(3n - 2) {
		grid-column-end: auto;
	  }
  }

@media screen and (max-width: 760px) {
	.header-baner {
		height: 800px!important;
		min-height: 100%!important;
	}

	.categories {
		display: flex;
		flex-direction: column;
	}
}